h3 {
  margin: 0;
}
.post-body {
  display: -webkit-box;
  -webkit-line-clamp: 8; /* number of lines to show before truncating */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.post-title {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show before truncating */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

:host ::ng-deep .card {
  height: 300px !important;
  transition: 0.3s;
}

:host ::ng-deep .card:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.container {
  padding: 3rem;
}
img {
  width: 15rem;
}
